@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3ab397;
    --secondary-color: #c4efe5;
    --text-dark: #333333;
    --text-light: #ffffff;
    --button-hover: #d4d4d4;
    --button-bg: #eeeeee;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--secondary-color);
    color: var(--text-dark);
    line-height: 1.6;
}



.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1.2rem 2rem;
    background-color: var(--primary-color);
    color: var(--text-light);
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar .left-section {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.navbar .right-section {
    display: flex;
    align-items: center;
}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -0.5px;
}


.container {
    width: 90%;
    max-width: 800px;
    margin: 80px auto 20px; 
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: var(--shadow);
    animation: fadeIn 0.5s ease-out;
}

.cita-container {
    width: 700px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.cita-container:hover {
    background-color: #f5f5f5;
}

.cita-container.selected {
    border-color: #3ab397;
    background-color: #e8f5e9;
}

.cita-info {
    margin-bottom: 8px;
}

.button {
    width: 170px;
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--button-bg);
    color: var(--primary-color);
    font-weight: 600;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: var(--button-hover);
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.button-volver {
    width: 45px;
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--button-bg);
    color: var(--primary-color);
    font-weight: 600;
    transition: all 0.3s ease;
}

.button-volver:hover {
    background-color: var(--button-hover);
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}